<% if @user == current_user %>
  <%= render 'shared/navbar_app_form' %>
<% else %> 
  <%= render 'shared/navbar_profile_page' %>
<% end %>

<% content_for(:title) do %>
  <%= @user.first_name %>
<% end %>

<div class="wrapper-grey">
  <div class="welcome text-center">
    <% if @user == current_user %>
      <h2>Welcome <%= @user.first_name %>!</h2>
    <% else %> 
    <% end %>
    <% if @user == current_user %>
      <h3><%= link_to ("Edit Profile"), edit_profile_path, class: "text-center btn btn-primary beaco-button-pink" %></h3>
    <% else %> 
    <% end %>
  </div>
  <div class="profile-details">
    <div class="container profile-card-white">
      <h5 class="profile-section-label">PROFILE</h5>
      <div class="profile-main-card"> 
        <%= cl_image_tag(@user.photo, crop: :fill, class: "profile-photo") %>
        <div class="profile-main-info">
          <ul>
            <li><h3><%= @user.first_name %> <%= @user.last_name %></h3><li>
            <li><em>Email: </em>&nbsp<%= @user.email %></li>
            <li><em>Phone: </em>&nbsp<%= @user.phone_number %></li>
            <li><em>Nationality: </em>&nbsp<%= @user.nationality %></li>
            <li><em>Birthday: </em>&nbsp<%= @user.birth_date %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container profile-card-white">
      <h5 class="profile-section-label">EDUCATION</h5>
      <ul>
        <li><em>College/Further Education: </em>&nbsp<%= @user.college %></li>
        <li><em>University/Higher Education: </em>&nbsp<%= @user.university %></li>
        <li><em>Qualifications Held: </em>&nbsp<%= @user.qualification_held %></li>
      </ul>
    </div>
    <div class="professional-info container profile-card-white">
      <h5 class="profile-section-label">PROFESSIONAL LIFE</h5>
      <ul>
        <li><em>Professional Training: </em>&nbsp<%= @user.professional_training %></li>
        <li><em>Work History: </em>&nbsp<%= @user.work_history %></li>
      </ul>
    </div>
    <div class="container profile-card-white">
      <h5 class="profile-section-label">HOBBIES & EXPERIENCE</h5>
      <ul>
        <li><em>Musical Instruments Played: </em>&nbsp<%= @user.musical_instruments %></li>
        <li><em>Hobbies: </em>&nbsp<%= @user.hobbies %></li>
        <li><em>Experience with Children: </em>&nbsp<%= @user.exp_with_kids %></li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <% if @user == current_user %>
      <h3><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary beaco-button-pink" %></h3>
    <% end %>
  </div>
  <%= render 'shared/footer_plain' %>
</div>

