<%= render 'shared/navbar_blue' %>

<!-- Interval image -->
<div class="image-interval-blog" style="background-image: linear-gradient(-100deg, rgba(0,10,50,0.1) 0%, rgba(0,36,61,0.6) 70%), url('http://res.cloudinary.com/ddota4fci/image/upload/v1474460052/Boy_and_plane_Image_ac1sjn.jpg');">
	<div class="blog-banner-content">
	    <h1>THE <span>BEA & CO</span> BLOG</h1>
  		<h5><%= link_to "JUMP IN!", "#blog-post" %></h5>
  	</div>
</div>

<div class= "container" id= "blog-post">
<div class="container blog-posts">
	<% @blog_posts.each do |blog_post| %>
	<div class="blog-post">
		<div class="blog-date">
			<h1><%= blog_post.created_at.day %></h1>
			<h6><%= blog_post.created_at.month %>/<%= blog_post.created_at.year %></h6>
		</div>
		<div class="blog-content">
			<h3><%= blog_post.title %></h3>
			<%= cl_image_tag ("http://res.cloudinary.com/ddota4fci/image/upload/v1474460052/Boy_and_plane_Image_ac1sjn.jpg"), class: "blog-image" %> 
			<p><%= simple_format blog_post.content %></p>
			<hr>
		</div>
		<div class="container instagram-feed">
			
		</div>
	</div>
	<% end %>
</div>
</div>
<%= render 'shared/contact' %>
<%= render 'shared/footer' %>





