<%= render 'shared/navbar_app_form' %>
<hr>
<div class="application-form-image" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)), url('http://res.cloudinary.com/ddota4fci/image/upload/v1474454347/DSC02082-e1427549825463-1024x642_d2yfp2.jpg');">
  <div class="application-form">
    <div class="back-link">
      <p><i class="fa fa-arrow-left">&nbsp; </i>
      <%= link_to "  Back to homepage", root_path(:anchor => "our-team") %></p>
    </div>
    <div class="text-center application-form-title">
      <h2>Join Our Team!</h2>
      <h4>Bea & Co welcomes only the very best and most committed creatives to our team, and only ever by recommendation</h4>
    </div>
    <%= simple_form_for @job_application, :html => {:class => 'app_form_font' } do |f| %>
      <%= f.input :name, :required => true, label: "Full name" %>
      <%= f.input :email, :required => true, label: "Email address" %>
      <%= f.input :phone_num, :required => true, label: "Phone number" %>
      <%= f.input :where_based, :required => true, label: "Where are you based?" %>
      <%= f.input :fav_kids_book, :required => true, label: "What is your favourite children's book and why?" %>
      <%= f.input :super_power, :required => true, label: "If you had one superpower what would it be, and why?" %>
      <%= f.input :dbs_registered, as: :radio_buttons, :required => true, label: "Do you have a current up to date DBS check? " %>
      <%= f.input :self_employed, as: :radio_buttons, :required => true, label: "Are you registered as self employed? " %>
      <%= f.input :known_employee, :required => true, label: "Do you know anyone who already works for us? Please let us know who!" %>
      <%= f.input :hopeful_cv, :as => :file, label: "Please upload your CV (including two referee details)" %>
      <%= f.input :accepts_data_treatment, as: :radio_buttons, :required => true, label: "By submitting your application to us you give your permission for us to contact the current creatives you have suggested as supporters of your application. You also give your permission for us to contact the referees listed in your attached CV" %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      </br>
      <div>
        <%= f.button :submit, 'Send Application', :class=> "btn btn-primary beaco-button-pink" %>
      </div>
    <% end %>
  </div>
</div>

