<!-- Contact -->
<div class="contact-wrapper">
<div class="section-padding contact-banner" id="contact" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('http://res.cloudinary.com/ddota4fci/image/upload/o_84/v1474454415/Children_silhoutte_balloons_ge433c.jpg');">
	<div class="contact-content">
		<div class="contact-left-column">
			<h4>CONTACT US DIRECT</h4>
      <p><i class="fa fa-phone"></i>
      <a href="tel:+44-203-488-1184">+44(0) 20 3488 1184</a></p>
			<p><i class="fa fa-envelope"></i>
			 <%= link_to "hello@beaandco.com", "mailto:hello@beaandco.com" %>
			</p>
      <p><i class="fa fa-smile-o"></i>
       <%= link_to "Apply to work with us", jobapps_path %>
      </p>
		</div>
		<div class="contact-right-column">
			<h4>SEND US A MESSAGE</h4>
      <div id="contact-form-home">
      <%= simple_form_for @contact do |f| %>
      <%= f.input :name, input_html: {class: "contact-input"}, label: "Your Name" %>
      <%= f.input :phone, input_html: {class: "contact-input"}, label: "Your Phone Number" %>
      <%= f.input :referred_by, input_html: {class: "contact-input"}, label: "Referred By?" %>
      <%= f.input :email, input_html: {class: "contact-input"} , label: "Your Email" %>
      <%= f.input :message, input_html: {class: "contact-input"}, label: "Your Message" %>
      <%= f.submit 'Send', class: "btn submit-button-beaco" %>
      <% end %>
      </div>
		</div>
	</div>
</div>
