<div class="footer">
	<div class="arrow-up text-center">
		<%= link_to "#" do %>
	    	<i class="fa fa-angle-double-up"></i>
		<% end %>
	</div>
	<div class="footer-main text-center">
		<p>Copyright (c) 2019 Bea & Co.</p>
		<%= link_to "https://www.instagram.com/beacouk/", target: "_blank" do %>
  		<i class="fa fa-instagram"></i>
		<% end %>
		<%= link_to "https://www.facebook.com/beaandcouk", target: "_blank" do %>
  		<i class="fa fa-facebook"></i>
		<% end %>
		<%= link_to "https://twitter.com/beacoUK", target: "_blank" do %>
  		<i class="fa fa-twitter"></i>
		<% end %>
		<p><%= link_to "Login", new_user_session_path, class: "login-link" %> | <%= link_to "Privacy Policy", privacypolicy_path, class: "login-link" %></p>
	</div>
</div>
