<!-- Fifth section - Happy People -->
<div class="wrapper-grey">	
	<div class="testimonals-section" id="happy-people">
		<div class="text-center happy-people-tagline">
			<h3>HAPPY PEOPLE</h3>
			<h5>See what our members say about us</h5>
		</div>

		<% if @happy_people %>
			<div class="row test-line-one">
				<% @happy_people.each_with_index do |happy_people, index| %>
					<% if index == 0 %>
						<div class="col-xs-12 col-md-4 testimonials">
							<h5> <i class="fa fa-quote-left"></i>  <%= happy_people.name %></h5>
							<p><%= happy_people.since %></p>
							<hr>
							<p><%= happy_people.comment %></p>
							<% 5.times do %>
			  					<i class="fa fa-star"></i>
			  				<% end %>
							<h6><%= happy_people.relation %></h6>
							<span><%= happy_people.location %></span>
						</div>
					<% elsif index == 1 %>
						<div class="col-xs-12 col-md-4 testimonials">
							<h5><i class="fa fa-quote-left"></i> <%= happy_people.name %></h5>
							<p><%= happy_people.since %></p>
							<hr>
							<p><%= happy_people.comment %></p>
							<% 5.times do %>
			  					<i class="fa fa-star"></i>
			  				<% end %>
							<h6><%= happy_people.relation %></h6>
							<span><%= happy_people.location %></span>
						</div>
					<% elsif index == 2 %>
						<div class="col-xs-12 col-md-4 testimonials">
							<h5><i class="fa fa-quote-left"></i> <%= happy_people.name %></h5>
							<p><%= happy_people.since %></p>
							<hr>
							<p><%= happy_people.comment %></p>
							<% 5.times do %>
			  					<i class="fa fa-star"></i>
			  				<% end %>
							<h6><%= happy_people.relation %></h6>
							<span><%= happy_people.location %></span>
						</div>
					<% else %>
					<% end %>
				<% end %>
			</div>

			<div class="row test-line-two hidden">
				<% @happy_people.each_with_index do |happy_people, index| %>
					<% if index == 3 %>
						<div class="col-xs-12 col-md-4 testimonials">
							<h5> <i class="fa fa-quote-left"></i>  <%= happy_people.name %></h5>
							<p><%= happy_people.since %></p>
							<hr>
							<p><%= happy_people.comment %></p>
							<% 5.times do %>
			  					<i class="fa fa-star"></i>
			  				<% end %>
							<h6><%= happy_people.relation %></h6>
							<span><%= happy_people.location %></span>
						</div>
					<% elsif index == 4 %>
						<div class="col-xs-12 col-md-4 testimonials">
							<h5><i class="fa fa-quote-left"></i> <%= happy_people.name %></h5>
							<p><%= happy_people.since %></p>
							<hr>
							<p><%= happy_people.comment %></p>
							<% 5.times do %>
			  					<i class="fa fa-star"></i>
			  				<% end %>
							<h6><%= happy_people.relation %></h6>
							<span><%= happy_people.location %></span>
						</div>
					<% elsif index == 5 %>
						<div class="col-xs-12 col-md-4 testimonials">
							<h5><i class="fa fa-quote-left"></i> <%= happy_people.name %></h5>
							<p><%= happy_people.since %></p>
							<hr>
							<p><%= happy_people.comment %></p>
							<% 5.times do %>
			  					<i class="fa fa-star"></i>
			  				<% end %>
							<h6><%= happy_people.relation %></h6>
							<span><%= happy_people.location %></span>
						</div>
					<% else %>
					<% end %>
				<% end %>
			</div>
		<% end %>

		

	<!-- Page Arrows -->
		<div class="arrows test-left-arrow test-arrow-l-one hidden-xs hidden-sm">
			<i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
		</div>
		<div class="arrows test-right-arrow test-arrow-r-one hidden-xs hidden-sm">
 			<i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
 		</div>
 		<div class="arrows test-left-arrow test-arrow-l-two hidden">
			<i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
		</div>
		<div class="arrows test-right-arrow test-arrow-r-two hidden">
 			<i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
 		</div>
<!--  -->
	</div>
</div>


