<!-- Sixth section - Partner logos -->
<div class="wrapper-partners">
  <div class="partners-section text-center">
  	<h3 class="partners-title">OUR PARTNERS</h3>
  <!-- First Row -->
    <div class="logos-line-one"> 
      <div class="arrows part-arrow-left part-l-arrow-js">
          <i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
      </div>
      <div class="logos">
      	<%= link_to "https://www.onefinestay.com", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1476112954/OFS_t5o96s.png", class: "logo") %>
        <% end %>
        <%= link_to "http://www.hbo.com", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474889840/HBO_iitc9v.png", class: "logo") %>
        <% end %>
        <%= link_to "https://www.dorchestercollection.com/", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475850981/DC_n0mpza.jpg", class: "logo") %>
        <% end %>
      </div>
      <div class="arrows part-arrow-right part-r-arrow-js">
        <i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
      </div> 
    </div>
  <!-- Second Row -->
    <div class="logos-line-two hidden">
      <div class="arrows part-arrow-left part-l-arrow-js-two">
        <i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
      </div>
      <div class="logos">
        <%= link_to "https://www.workingtitlefilms.com/", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475849858/WT_kvq2ol.png", class: "logo") %>
        <% end %>
        <%= link_to "http://www.accorhotels-group.com/en.html", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475850221/AH_wckcih.jpg", class: "logo") %>
        <% end %>
      </div>
      <div class="arrows part-arrow-right part-r-arrow-js-two">
  		  <i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
  	  </div>
    </div>
    <!-- Third Row -->
    <div class="logos-line-three hidden">
      <div class="arrows part-arrow-left part-l-arrow-js-three">
        <i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
      </div>
      <div class="logos">
        <%= link_to "http://www.royalcourttheatre.com", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474890766/RC_z8xxrp.jpg", class: "logo") %>
        <% end %>
        <%= link_to "http://playfuluk.com/", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475851203/PP_afo6i3.jpg", class: "logo") %>
        <% end %>
        <%= link_to "http://playfuluk.com/productions/the-audience-london", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475850335/AT2_eesxnb.jpg", class: "logo") %>
        <% end %>
      </div>
      <div class="arrows part-arrow-right part-r-arrow-js-three">
        <i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
      </div>
    </div>
 <!-- Fourth Row -->
    <div class="logos-line-four hidden">
      <div class="arrows part-arrow-left part-l-arrow-js-four">
        <i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
      </div>
      <div class="logos">
        <%= link_to "http://www.charlieandthechocolatefactory.com/", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475850427/CC_gbtcru.jpg", class: "logo") %>
        <% end %>
        <%= link_to "http://thegobetweenmusical.com", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475850242/AT_ds5but.jpg", class: "logo") %>
        <% end %>
        <%= link_to "http://billyelliotthemusical.com", target: "_blank" do %>
          <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1476112689/BE_woz2xa.jpg", class: "logo") %>
        <% end %>
      </div>
      <div class="arrows part-arrow-right part-r-arrow-js-four">
        <i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
      </div>
    </div>
  </div>
</div>
