<!-- Sixth section - Partner logos -->
<div class="section-padding text-center">
	<h3>OUR PARTNERS</h3>
	<div class="logos">
		<div class="arrows logos-left-arrow">
			<i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
		</div>
		<%= link_to "https://www.hbo.com" do %>
    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474889840/HBO_iitc9v.png", class: "logo") %>
    <% end %>
		<%= link_to "https://www.hbo.com" do %>
    <%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474890819/BE_jighks.png", class: "logo") %>
    <% end %>
		<%= link_to "https://www.onefinestay.com" do %>
    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474888237/OFS_t5v74y.png", class: "logo") %>
    <% end %>
		<%= link_to "https://www.americanexpress.com" do %>
    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474889993/AMEX_b7d1bt.png", class: "logo") %>
    <% end %>
		<%= link_to "https://www.hbo.com" do %>
    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474890766/RC_z8xxrp.jpg", class: "logo") %>
    <% end %>
    <div class="arrows logos-right-arrow">
			<i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
		</div>
	</div>
</div>
     