<div class="wrapper-press">
  <hr class= "line">
    <div class="press-section text-center">
      <h3 class="press-title">PRESS COVERAGE</h3>
      <!-- First Row -->
      <div class="press-logos-line-one"> 
        <div class="arrows press-arrow-left press-l-arrow-js">
          <i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
        </div>
        <div class="logos">
          <%= image_tag("ESlogo.png", class: "logo") %>
          <%= image_tag("CNlogo2.png", class: "logo") %>
          <%= image_tag("ESlogo.png", class: "logo") %>
          <%= image_tag("CNlogo2.png", class: "logo") %>
        </div>
        <div class="arrows press-arrow-right press-r-arrow-js">
          <i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
        </div> 
      </div>
      <!-- Second Row -->
      <div class="press-logos-line-two hidden">
        <div class="arrows press-arrow-left press-l-arrow-js-two">
          <i><%= link_to (""), "#", class: "fa fa-angle-left" %></i>
        </div>
        <div class="logos">
          <%= image_tag("CNlogo2.png", class: "logo") %>
          <%= image_tag("ESlogo.png", class: "logo") %>
          <%= image_tag("CNlogo2.png", class: "logo") %>
          <%= image_tag("ESlogo.png", class: "logo") %>
        </div>
        <div class="arrows press-arrow-right press-r-arrow-js-two">
          <i><%= link_to (""), "#", class: "fa fa-angle-right" %></i>
        </div>
      </div>
    </div>
  </div>
</div>



     