<%= render 'shared/navbar_blue' %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,10,50,0.1) 50%, rgba(0,36,61,0.6) 80%), url('http://res.cloudinary.com/ddota4fci/image/upload/v1474633371/Children_Pirate_image_hbeob3.jpg');">
	<div class="banner-content">
    <%= image_tag "logo.png", class: "main-logo" %>
    	<p>Creative Sitters & Chaperones</p>
  	</div>
</div>

<!-- First section - Personally Recommended-->
<div class="container section-padding text-center" id="about">
	<h3>PERSONALLY RECOMMENDED</h3>
		<p>Bea & Co is a unique London members’ agency specialising in providing families and organisations with excellent child care from the highest quality creative people. Whether private or corporate, Bea & Co offers a highly individual first class service tailored to each of our members' needs.</p>
</div>

<!-- Interval image -->
<div class="image-interval" style="background-image: url('http://res.cloudinary.com/ddota4fci/image/upload/v1474460052/Boy_and_plane_Image_ac1sjn.jpg');">
</div>

<!-- Second section - Our Story -->
<div class="container" id="our-story">
	<h3 class= "our-story-title text-center">OUR STORY</h3>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="our-story-image">
				<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474888128/Bea_Co_1000x1000_jhd81c.jpg", class: "slideRight") %>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 our-story-aside">
			<div class="our-story-section">
				<div class="our-story-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="our-story-text">
					<h4>Born in 2013</h4>
					<p>Bea & Co. was born in 2013 after we began to see, through our regular work with child actors, that a highly creative environment was hugely valuable in their well-rounded development. At this stage, we were just a small team of close friends, all with a creative background.</p>
				</div>
			</div>
			<div class="our-story-section">
				<div class="our-story-icon">
					<i class="fa fa-user"></i>	
				</div>
				<div class="our-story-text">
					<h4>Growing up</h4>
					<p>After spending six months testing our concept of enriching regular child-sitting with play, imagination and creativity, we were noticing happy parents and happy children. By bringing in our influences in theatre, music and the creative industries, we were having a great effect! We began to scale to meet demand and established a larger and more diverse team. They were from this point to be known as our ‘creatives’.</p>
				</div>
			</div>
			<div class="our-story-section">
				<div class="our-story-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="our-story-text">
					<h4>Today</h4>
					<p>Today our team is stronger and more diverse than ever. Just as it was at the start, every one of our creatives comes personally recommended from within our immediate network, and only those with a proven excellence make the grade! We’re delighted that our members relish the opportunity to allow their children an imaginative environment- whether that be hunting crocodiles with our actors, playing princesses with an opera diva or baking fairy-cakes with a real life ballerina!</p>
				</div>
			</div>
		</div>
	</div>
</div>	

<!-- Third section - Our Services -->
<div class="our-services-banner text-center" id="services" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)), url('http://res.cloudinary.com/ddota4fci/image/upload/o_66/v1474900030/BC_Laptop_ginizy.jpg');">
  <div class="section-padding">
  	<h3>OUR SERVICES</h3>
    <div class="row">
    	<div class="col-xs-12 col-sm-6 col-md-4">
    		<h4>Sitting</h4>
    		<p>All our childsitters are DBS (CRB) checked. Our members use our diverse team of creatives to take care of their little people both at home and abroad - for holiday or business. We are also proud of our small group of “Mannies” who are increasingly sought-after.</p>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-4">
    		<h4>Theatre, Film & TV Chaperoning</h4>
    		<p>We work regularly for production and entertainment companies and can provide fully certified chaperones at all stages of theatre, television and film projects, both nationally and internationally. <%= link_to "More information →", chaperone_path, id: "more-info" %></p>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-4">
    		<h4>For Business</h4>
    		<p>We work closely with businesses to cater for internal childcare packages, in house events, and partnerships that enrich client and customer experience. Our creative talent pool gives Bea & Co. the innovative and personable edge in providing a service tailor-made to fit your company culture.</p>
    	</div>
  	</div>
    <div class="row">
    	<div class="col-xs-12 col-sm-6 col-md-4">
    		<h4>Hotels</h4>
    		<p>We are the exclusive child care provider of choice for a number of prestigious hotels across London. Our team are straight to work with a number of activities and London adventures to make your child’s stay is just as enjoyable as your own.</p>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-4">
    		<h4>International</h4>
    		<p>We are often asked to lend a hand when our members travel for business or holiday, and are regularly the first choice for international entertainment projects. Our creatives are well used to touring on complex travel schedules and are masters of finding magic in the face of delays!</p>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-4">
    		<h4>Events</h4>
    		<p>With a team rooted in the creative industries, we provide a number of helpful services for festivals, summer events, weddings and private parties, including our own adventurous spin on the everyday crèche!</p>
  		</div>
  	</div>
  </div>
</div>

<!-- Fourth section - Our Team -->
<div class="container section-padding text-center" id="our-team">

	<h3>OUR TEAM</h3>
	<p>Let us introduce you to some of our amazing creative team. We are delighted to work with over 100 creatives who all maintain successful careers in theatre, film, television, dance, music, art and design. It is this unique connection that enriches our service and makes our offering extra special.</p>
	
<!-- First row - team members -->
	<div class="row team-content">
		<div class="col-xs-12 col-sm-4 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906487/Amy_ltincc.png") %>
			<h5>Amy</h5>
			<p>FOUNDER & MANAGING DIRECTOR</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906444/Jamie_ufu0xv.png") %>
			<h5>James</h5>
			<p>COO</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906455/Screenshot_2016-09-26_17.09.12_qgddts.png") %>
			<h5>Tanya</h5>
			<p>HEAD OF CHAPERONES</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906464/Screenshot_2016-09-26_17.10.01_vqb3ya.png") %>
			<h5>Amy</h5>
			<p>CREATIVE</p>
		</div>
	</div>

<!-- Second row - team members -->
	<div class="row team-content">
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906450/Screenshot_2016-09-26_17.09.54_hbmrp8.png") %>
			<h5>James</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906469/Screenshot_2016-09-26_17.10.17_t6iaqv.png") %>
			<h5>Claudia</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906473/Screenshot_2016-09-26_17.10.10_cru9ew.png") %>
			<h5>Lydia</h5>
			<p>CREATIVE</p>
		</div>

<!-- Join us box -->
		<div class="col-xs-12 col-sm-6 col-md-3 text-center">
			<div class="join-us">
				<%= link_to "#" do %>
		    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474909288/BC_Laptop_ginizy.jpg") %>
	    	<div class="join-us-text">
	    		<h1 id="question-mark">?</h1>
	    		<h3 id="hidden-apply-text">APPLY NOW!</h3>
	    		<p id="hidden-apply-text">Click here to fill in our application form</p>
	    	</div>
	    	<% end %>
	  	</div>
			<div class="team-member">
				<h5>Join Us</h5>
				<p>CAN ANY OF OUR TEAM RECOMMEND YOU?</p>
			</div>
		</div>
	</div>

<!-- Hidden team members -->
	<div class="row team-content hidden">
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906450/Screenshot_2016-09-26_17.09.54_hbmrp8.png") %>
			<h5>James</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906469/Screenshot_2016-09-26_17.10.17_t6iaqv.png") %>
			<h5>Claudia</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906473/Screenshot_2016-09-26_17.10.10_cru9ew.png") %>
			<h5>Lydia</h5>
			<p>CREATIVE</p>
		</div>
	</div>
</div>

<!-- Fifth section - Happy People -->
<div class="wrapper-grey">	
	<div class="container section-padding" id="happy-people">
		<div class="text-center">
			<h3>HAPPY PEOPLE</h3>
			<p>See what our members say about us</p>
		</div>
		<div>
			<div class="row">
				<div class="col-xs-12 col-md-4 testimonials">
					<h5> <i class="fa fa-quote-left"></i>  Doulla & John</h5>
					<p>Part of the family since July 2014</p>
					<hr>
					<p>We have been using Bea & Co since July 2014 and can not speak highly enough of the wonderful service provided.  Our son is an actor and so often needs to be moved around places in London. We never have a moments worry about him being safely delivered to the right place at the correct time. More than providing a very safe and highly efficient  service, every single one of the Bea & Co team have been fantastic with our son, to the point where he actively looks forward to them visiting and never feels like he is being babysat. We would have absolutely no hesitation in recommending Bea & Co wholeheartedly.</p>
					<% 5.times do %>
    					<i class="fa fa-star"></i>
    			<% end %>
					<h6>Private Member</h6>
					<span>Wandsworth</span>
				</div>
				<div class="col-xs-12 col-md-4 testimonials">
					<h5><i class="fa fa-quote-left"></i> James</h5>
					<p>Part of the family since September 2014</p>
					<hr>
					<p>I was thrilled with the service Amy and her team provided for us. We recently required a sitter last minute to cover a cast member’s childcare problem. Child and sitter got on wonderfully (despite never having met) and we could not have been better served. Will recommend to everyone.  10/10 service. Will use every time from now on.</p>
					<% 5.times do %>
    					<i class="fa fa-star"></i>
    			<% end %>
					<h6>Private Member</h6>
					<span>Wandsworth</span>
				</div>
				<div class="col-xs-12 col-md-4 testimonials">
					<h5><i class="fa fa-quote-left"></i> Gordon & Lorna</h5>
					<p>Part of the family since June 2014</p>
					<hr>
					<p>Bea & Co. were recommended to us by a friend, to whom we are incredibly grateful. We both work in Theatre and in our line of work we often have irregular schedules with things changing at the last minute. Amy and her team have always been so flexible, helpful and understanding. They are all reliable, friendly and trustworthy and most importantly brilliant with our wee one who always has a smashing time with them. We are so delighted to have found them and would not hesitate in recommending their service to anyone looking for child care.</p>
					<% 5.times do %>
    					<i class="fa fa-star"></i>
    			<% end %>
					<h6>Private Member</h6>
					<span>Wandsworth</span>
				</div>
			</div>
			<div class="row test-line-two hidden">
				<div class="col-xs-12 col-md-4 testimonials">
					<h5>Amy & Ewan</h5>
					<p>Part of the family since September 2014</p>
					<hr>
					<p>My year and a half year old fell in love with Amy from the moment she met her, despite always having been reluctant to be looked after by anyone else. My daughter is now 5-and-a-half and my boy nearly 4, and they are completely wild with excitement when they know that Amy is coming! Often they can’t wait for us to go! We go away happy in the knowledge that the children are not just in safe hands but are also very happy and come back to find cakes have been baked, decorations and cards made, new games invented, new songs and dances learnt, and a lot of fun has been had. Amy is 100% reliable, firm but kind, thoughtful and trustworthy. We are so happy with them and I cannot recommend them more highly.</p>
					<% 5.times do %>
    					<i class="fa fa-star"></i>
    			<% end %>
					<h6>Private Member</h6>
					<span>Wandsworth</span>
				</div>
				<div class="col-xs-12 col-md-4 testimonials">
					<h5>Sarah</h5>
					<p>Part of the family since February 2015</p>
					<hr>
					<p>Bea & Co. was recommended to me by a performer friend and I have not looked back. They have been faultless in all communications, reassuring where needed and totally understand my needs. The girls who take care of our children (8 & 10) are young, fun, efficient and full of beans. They are so amazing with the children and are on hand to help me with literally anything, from picking up milk to helping with school projects or swimming. (One of the girls even reorganised my pantry!) The children are very fond of them already and they have become a part of the family. I am a self-employed performer and when my work schedule changes, they are there ready to adapt and fill in where needed. I would highly recommend this company and feel that with this impressive young woman Amy Beadel at the helm, Bea & Co are the new way forward in childcare.</p>
					<% 5.times do %>
    					<i class="fa fa-star"></i>
    			<% end %>
					<h6>Private Member</h6>
					<span>Wandsworth</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sixth section - Partner logos -->
<div class="section-padding text-center">
	<h3>OUR PARTNERS</h3>
	<div class="logos">
    <div class="logo">
			<%= link_to "https://www.hbo.com" do %>
	    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474889840/HBO_iitc9v.png", class: "logo") %>
	    <% end %>
    </div>
    <div class="logo">
			<%= link_to "https://www.hbo.com" do %>
	    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474890819/BE_jighks.png", class: "logo") %>
	    <% end %>
    </div>
    <div class="logo">
			<%= link_to "https://www.onefinestay.com" do %>
	    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474888237/OFS_t5v74y.png", class: "logo") %>
	    <% end %>
    </div>
    <div class="logo">
			<%= link_to "https://www.americanexpress.com" do %>
	    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474889993/AMEX_b7d1bt.png", class: "logo") %>
	    <% end %>
    </div>
    <div class="logo">
			<%= link_to "https://www.hbo.com" do %>
	    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474890766/RC_z8xxrp.jpg", class: "logo") %>
	    <% end %>
    </div>
	</div>
</div>
     
	
<!-- Contact -->
<div class="contact-wrapper">
<div class="section-padding contact-banner" id="contact" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('http://res.cloudinary.com/ddota4fci/image/upload/o_84/v1474454415/Children_silhoutte_balloons_ge433c.jpg');">
	<div class="contact-content">
		<div class="contact-left-column">
			<h4>CONTACT US DIRECT</h4>
			<p>+44(0) 20 3488 1184</p>
			<p>hello@beaandco.com</p>
		</div>
		<div class="contact-right-column">
			<h4>SEND US A MESSAGE</h4>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>

