<%= render 'shared/navbar_blue' %>

<div class="banner">
	<div class="banner-content">
    <%= image_tag "logo.png", class: "main-logo" %>
    	<p>Creative Sitters & Chaperones</p>
  	</div>
</div>

<!-- First section - Personally Recommended-->
<div class="container section-padding text-center about" id="about">
	<% if @first_par %>
    <h3><%= @first_par.title.upcase %></h3>
	  <p><%= @first_par.content %></p>
  <% end %>
</div>

<!-- Interval image -->
<div class="image-interval" style="background-image: url('http://res.cloudinary.com/ddota4fci/image/upload/v1474460052/Boy_and_plane_Image_ac1sjn.jpg');">
</div>

<!-- Second section - Our Story -->
<div class="container" id="our-story">
	<h3 class= "our-story-title text-center">OUR STORY</h3>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="our-story-image hidden-xs hidden-sm">
				<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474888128/Bea_Co_1000x1000_jhd81c.jpg", class: "slideRight") %>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 our-story-aside">
      <% if @story_pars %>
        <% @story_pars.each do |story_par| %>
    			<div class="our-story-section">
    				<div class="our-story-icon">
    					<i class="fa fa-heart-o"></i>
    				</div>
    				<div class="our-story-text">
    					<h4><%= story_par.title %></h4>
    					<p><%= story_par.content %></p>
    				</div>
    			</div>
        <% end %>
      <% end %>
		</div>
	</div>
</div>

<!-- Third section - Our Services -->
<div class="our-services-banner" id="services" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)), url('http://res.cloudinary.com/ddota4fci/image/upload/v1474454347/DSC02082-e1427549825463-1024x642_d2yfp2.jpg');">
  <div class="our-services">
  	<h3 class="text-center">OUR SERVICES</h3>
    <div class="row services-row">
    	<div class="col-xs-1 col-sm-1 col-md-1">
	    	<div class="our-services-icon larger-icon">
					<i class="fa fa-child"></i>
				</div>
			</div>
    	<div class="col-xs-11 col-md-3 services-mobile-padding">
    		<h4>Sitting</h4>
    		<p>All our childsitters are DBS (CRB) checked. Our members use our diverse team of creatives to take care of their little people both at home and abroad - for holiday or business. We are also proud of our small group of “Mannies” who are increasingly sought-after.</p>
    	</div>
    	<div class="col-xs-1 col-sm-1 col-md-1">
	    	<div class="our-services-icon">
					<i class="fa fa-film"></i>
				</div>
			</div>
    	<div class="col-xs-11 col-md-3 services-mobile-padding">
    		<h4>Theatre, Film & TV Chaperoning</h4>
    		<p>We work regularly for production and entertainment companies and can provide fully certified chaperones at all stages of theatre, television and film projects, both nationally and internationally.</p>
    		<p><%= link_to "", chaperone_path, id: "more-info" %></p>
    	</div>
    	<div class="col-xs-1 col-sm-1 col-md-1">
	    	<div class="our-services-icon icon-padding">
	    		<i class="fa fa-briefcase"></i>
				</div>
			</div>
    	<div class="col-xs-11 col-md-3">
    		<h4>For Business</h4>
    		<p>We work closely with businesses to cater for internal childcare packages, in house events, and partnerships that enrich client and customer experience. Our creative talent pool gives Bea & Co. the innovative and personable edge in providing a service tailor-made to fit your company culture.</p>
    	</div>
	  </div>

    <div class="row services-row">
    	<div class="col-xs-1 col-sm-1 col-md-1">
	    	<div class="our-services-icon larger-icon">
					<i class="fa fa-map-marker"></i>
				</div>
			</div>
    	<div class="col-xs-11 col-md-3 services-mobile-padding">
    		<h4>Hotels</h4>
    		<p>We are the exclusive child care provider of choice for a number of prestigious hotels across London. Our team are straight to work with a number of activities and London adventures to make sure your child’s stay is just as enjoyable as your own.</p>
    	</div>
    	<div class="col-xs-1 col-sm-1 col-md-1">
	    	<div class="our-services-icon larger-icon">
					<i class="fa fa-plane"></i>
				</div>
			</div>
    	<div class="col-xs-11 col-md-3 services-mobile-padding">
    		<h4>International</h4>
    		<p>We are often asked to lend a hand when our members travel for business or holiday.  Our creatives are well used to touring on complex travel schedules and are masters of finding magic in the face of delays!</p>
    	</div>
    	<div class="col-xs-1 col-sm-1 col-md-1">
	    	<div class="our-services-icon">
					<i class="fa fa-calendar"></i>
				</div>
			</div>
    	<div class="col-xs-11 col-md-3 services-mobile-padding">
    		<h4>Events</h4>
    		<p>With a team rooted in the creative industries, we provide a number of helpful services for festivals, summer events, weddings and private parties, including our own adventurous spin on the everyday crèche!</p>
  		</div>
  	</div>
	</div>
</div>

<!-- Fourth section - Our Team -->
<div class="container section-padding text-center" id="our-team">
	<div class="our-team">
		<h3>OUR TEAM</h3>
		<p>Let us introduce you to some of our amazing creative team. We are delighted to work with over 100 creatives who all maintain successful careers in theatre, film, television, dance, music, art and design. It is this unique connection that enriches our service and makes our offering extra special.</p>
	</div>
<!-- First row - team members -->
	<div class="row team-content">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845440/ME_hfrqwh.jpg", crop: :fit) %>
			<h5>Amy</h5>
			<p>FOUNDER & MANAGING DIRECTOR</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475847621/Jamie_nzbzoh.png", crop: :fit) %>
			<h5>James</h5>
			<p>COO</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845418/TANYA_hf6x2q.jpg", crop: :fit) %>
			<h5>Tanya</h5>
			<p>HEAD OF CHAPERONES</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845433/LAURA_itzvgm.jpg", crop: :fit) %>
			<h5>Laura</h5>
			<p>CREATIVE MANAGER</p>
		</div>
	</div>
<!-- Second row - team members -->
	<div class="row team-content">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1480700540/Amy_dvxtnj.png", crop: :fit) %>
			<h5>Amy</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845413/BETHAN_yaazc1.jpg", crop: :fit) %>
			<h5>Bethan</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1476214039/MATTHEW_rfrafo.jpg",crop: :fit) %>
			<h5>Matthew</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845419/CRISTINA_tbidpz.jpg", crop: :fit) %>
			<h5>Cristina</h5>
			<p>CREATIVE</p>
		</div>
	</div>
<!-- Third Row – Team members -->
	<div class="row team-content row-two">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845416/JAMES_kgtuvy.jpg", crop: :fit) %>
			<h5>James</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1476213991/GRACE_bpjpbk.jpg", crop: :fit) %>
			<h5>Grace</h5>
			<p>CREATIVE</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845412/BELLA_qsd6oe.jpg", crop: :fit) %>
			<h5>Bella</h5>
			<p>CREATIVE</p>
		</div>
<!-- Join us box -->
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center">
			<div class="join-us-box">
					<%= link_to job_applications_path do %>
		    	<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475150361/wpllto3wkkch8ri4gwzz.png", id: "q-mark") %>
		    	<% end %>
		    	<div id="apply-now">
		    		<%= link_to job_applications_path do %>
				    	<h3>WORK WITH US</h3>
			    		<p>Apply to join the Bea & Co team</p>
		    		<% end %>
		    	</div>
	  		</div>
			<div class="team-member">
				<h5>Join Us</h5>
				<p>CAN ANY OF OUR TEAM RECOMMEND YOU?</p>
			</div>
		</div>

<!-- Hidden team members -->
		<div class="row team-content hidden">
			<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
			<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906450/Screenshot_2016-09-26_17.09.54_hbmrp8.png") %>
				<h5>James</h5>
				<p>CREATIVE</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
				<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906469/Screenshot_2016-09-26_17.10.17_t6iaqv.png") %>
				<h5>Claudia</h5>
				<p>CREATIVE</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 team-member text-center">
				<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1474906473/Screenshot_2016-09-26_17.10.10_cru9ew.png") %>
				<h5>Lydia</h5>
				<p>CREATIVE</p>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/press' %>
<%= render 'shared/happy_people' %>
<%= render 'shared/our_partners' %>
<%= render 'shared/contact' %>
<%= render 'shared/footer' %>

