<p>Name: <%= @contact.name %></p>
<p>Phone: <%= @contact.phone if @contact.phone %></p>
<p>Referred By: <%= @contact.referred_by if @contact.referred_by %></p>
<p>Email: <%= @contact.email if @contact.email %></p>
<p>Message: <%= @contact.message %></p>
